---
import { DiFirebase, DiReact, DiAndroid } from "react-icons/di";
---
<section id="tech" class="flex flex-col mx-auto max-w-[1040px] px-12 py-8 box-content relative overflow-hidden max-md:px-12 max-sm:px-4 max-sm:py-0">
  <div class="w-[64px] h-[6px] rounded-[10px] bg-gradient-to-l from-[#13ADC7] to-[#945DD6] mb-[4rem] max-md:w-[48px] max-md:h-[4px] max-sm:w-[32px] max-sm:h-[2px]"></div>
  <br />
  <h2 class="font-extrabold text-[56px] leading-[56px] w-max max-w-full bg-clip-text text-transparent bg-gradient-to-br from-white to-white/60 mb-[16px] max-md:text-[48px] max-md:leading-[48px] max-md:mb-[12px] max-sm:text-[32px] max-sm:leading-[40px] max-sm:mb-[8px]">
    Tecnologias
  </h2>
  <p class="max-w-[800px] text-[22px] leading-[40px] font-thin pb-[36px] text-white/50 max-md:max-w-[670px] max-md:text-[20px] max-md:leading-[32px] max-md:pb-[24px] max-sm:text-[16px] max-sm:leading-[24px] max-sm:pb-[16px]">
    Trabalhei com uma série de tecnologias, desde o front-end ao back-end, e
    tive experiência uma variedade de stacks.
  </p>
  
  <ul class="grid grid-cols-3 gap-[40px] my-[3rem] max-lg:my-[64px] max-md:my-[64px] max-md:gap-[24px] max-sm:flex max-sm:flex-col max-sm:my-[32px]">
    <li class="max-w-[320px] flex flex-col max-md:max-w-[203px] max-sm:max-w-[320px] max-sm:flex-row max-sm:mb-[14px]">
      <!-- React Icon -->
      <DiReact className="w-[48px] h-[48px] mb-2 max-md:w-10 max-md:h-10 max-md:mb-2 max-sm:w-8 max-sm:h-8 max-sm:mb-0" />
      <div class="flex flex-col max-sm:ml-[18px]">
        <h4 class="font-bold text-[28px] leading-[32px] tracking-[0.02em] text-white mb-[8px] max-md:text-[24px] max-md:leading-[28px] max-sm:text-[20px] max-sm:leading-[28px] max-sm:mb-[4px]">Front-End</h4>
        <p class="font-normal text-[18px] leading-[30px] text-white/75 max-md:text-[16px] max-md:leading-[28px] max-sm:text-[14px] max-sm:leading-[22px]">
          Experiência com <br />
          React.js / Next.js <br />
          Tailwind CSS <br />
          Figma <br />
          SEO
        </p>
      </div>
    </li>
    
    <li class="max-w-[320px] flex flex-col max-md:max-w-[203px] max-sm:max-w-[320px] max-sm:flex-row max-sm:mb-[14px]">
      <!-- Firebase Icon -->
      <DiFirebase className="w-[48px] h-[48px] mb-2 max-md:w-10 max-md:h-10 max-md:mb-2 max-sm:w-8 max-sm:h-8 max-sm:mb-0" />
      <div class="flex flex-col max-sm:ml-[18px]">
        <h4 class="font-bold text-[28px] leading-[32px] tracking-[0.02em] text-white mb-[8px] max-md:text-[24px] max-md:leading-[28px] max-sm:text-[20px] max-sm:leading-[28px] max-sm:mb-[4px]">Back-End</h4>
        <p class="font-normal text-[18px] leading-[30px] text-white/75 max-md:text-[16px] max-md:leading-[28px] max-sm:text-[14px] max-sm:leading-[22px]">
          Experiência com <br />
          Node e Banco de Dados <br />
          Java Spring Boot <br />
          Docker <br />
          Azure Devops (CI / CD) <br />
        </p>
      </div>
    </li>

    <li class="max-w-[320px] flex flex-col max-md:max-w-[203px] max-sm:max-w-[320px] max-sm:flex-row max-sm:mb-[14px]">
      <!-- Android Icon -->
      <DiAndroid className="w-[48px] h-[48px] mb-2 max-md:w-10 max-md:h-10 max-md:mb-2 max-sm:w-8 max-sm:h-8 max-sm:mb-0" />
      <div class="flex flex-col max-sm:ml-[18px]">
        <h4 class="font-bold text-[28px] leading-[32px] tracking-[0.02em] text-white mb-[8px] max-md:text-[24px] max-md:leading-[28px] max-sm:text-[20px] max-sm:leading-[28px] max-sm:mb-[4px]">Mobile</h4>
        <p class="font-normal text-[18px] leading-[30px] text-white/75 max-md:text-[16px] max-md:leading-[28px] max-sm:text-[14px] max-sm:leading-[22px]">
          Experiência com <br />
          React Native <br />
          Expo <br />
          Firebase <br />
          Push Notifications
        </p>
      </div>
    </li>
  </ul>
</section>
